dash==2.18.2
ffmpeg==1.4
ipython==8.12.3
Jinja2==3.1.5
matplotlib==3.10.0
numpy==2.2.2
opensmile==2.5.1
pandas==2.2.3
praat-parselmouth==0.4.5
plotly==6.0.0
pydub==0.25.1
pytest==8.3.3
PyYAML==6.0.2
soundfile==0.13.1
tqdm==4.66.1
google-ads==24.0.0
stopit==1.1.1
pytz==2024.1
dvc
dvc[gdrive]
